<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Degadis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Degadis.Properties.Settings>
            <setting name="wma" serializeAs="String">
                <value>28.96</value>
            </setting>
            <setting name="wmw" serializeAs="String">
                <value>18.02</value>
            </setting>
            <setting name="cpa" serializeAs="String">
                <value>1006.3</value>
            </setting>
            <setting name="cpw" serializeAs="String">
                <value>1865</value>
            </setting>
            <setting name="rhowl" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="dhvap" serializeAs="String">
                <value>2.5023</value>
            </setting>
            <setting name="dhfus" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="rgas" serializeAs="String">
                <value>0.08205</value>
            </setting>
            <setting name="igen" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="gasmw" serializeAs="String">
                <value>28.96</value>
            </setting>
            <setting name="gastem" serializeAs="String">
                <value>293.15</value>
            </setting>
            <setting name="gasrho" serializeAs="String">
                <value>1.204009943</value>
            </setting>
            <setting name="gascpk" serializeAs="String">
                <value>1006.3</value>
            </setting>
            <setting name="gascpp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gasulc" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="gasllc" serializeAs="String">
                <value>0.025</value>
            </setting>
            <setting name="gaszzc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="u0" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="z0" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="zr" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="oodist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="avtime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rml" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="deltaz" serializeAs="String">
                <value>0.04134</value>
            </setting>
            <setting name="betaz" serializeAs="String">
                <value>1.1737</value>
            </setting>
            <setting name="gammaz" serializeAs="String">
                <value>-0.0316</value>
            </setting>
            <setting name="sigxco" serializeAs="String">
                <value>0.04</value>
            </setting>
            <setting name="deltay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tamb" serializeAs="String">
                <value>293.15</value>
            </setting>
            <setting name="pamb" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="humid" serializeAs="String">
                <value>0.0148252061</value>
            </setting>
            <setting name="relhum" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="betay" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="sigxp" serializeAs="String">
                <value>1.14</value>
            </setting>
            <setting name="sigxmd" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tsurf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="htco" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wtco" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isofl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ihtfl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iwtfl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yclow" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="idilut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="itran" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Check4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rhoe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rhoa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gmass0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ptemp1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pwc1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="swid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="slen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ess" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="r1ss" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="indvel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="nden" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="nsrc" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="tend" serializeAs="String">
                <value>60230</value>
            </setting>
            <setting name="tinp" serializeAs="String">
                <value />
            </setting>
            <setting name="istab" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="gasnam" serializeAs="String">
                <value />
            </setting>
            <setting name="temjet" serializeAs="String">
                <value>293.15</value>
            </setting>
            <setting name="indht" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numden" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="distmx" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="booljet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ruta" serializeAs="String">
                <value />
            </setting>
            <setting name="nombre" serializeAs="String">
                <value />
            </setting>
            <setting name="erate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diajet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="elejet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vkc" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="gg" serializeAs="String">
                <value>9.81</value>
            </setting>
            <setting name="Ustar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alfa1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alfa2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="humsrc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ya" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rho" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="enthalpy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="temp" serializeAs="String">
                <value>0</value>
            </setting>
        </Degadis.Properties.Settings>
    </userSettings>
</configuration>